<% provide(:title, "The Piss!") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= yield(:app_name) %></title>
  </head>
  <body>
    <h1>Found the <%= pluralize(params[:search][:storycount], 'tinkle') %> you requested:</h1>
     <% @entries_array.each_with_index do |entry, i| %>
      <h5 class="link-text">(<%= (i + 1) %>) <a href="<%= entry.link %>" target="_blank"><%= entry.title %></a></h5>
      <div class="summary-text"><%= entry.summary %></div>
      <h6>--<%= entry.source %></h6><br>
    <% end %>
  </body>
</html>