<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= yield(:app_name) %></title>
  </head>
  <body>
    <h1>Find The Piss Below!</h1>
    <h2>
      This is the home page for the Donald Trump Piss Finder - your source for updates regarding the (alleged) Donald Trump <a href = "https://rationalwiki.org/wiki/Pissgate" target="_blank">piss tape.</a>
    </h2>
    <h5><p>How many donald trump pee tape stories do you want to read today?
      <%= simple_form_for :search, url: find_the_piss_path do |f| %>
        <%= f.select :storycount, ((1..30).map {|i| [i,i] }) %></p>
        <p>And from where will you read these stories about piss?
        <%= f.input :storyloca, label: false, as: :check_boxes, collection: ScrapeAttribute.pluck(:source) %>
        </p>
        <%= f.button :submit, "Submit" %>
      <% end %>
  </body>
</html>