<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Piss Finder", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path, :class => "ui-nav-link" %></li>
        <li><%= link_to "Help",   help_path, :class => "ui-nav-link" %></li>
        <li><%= link_to "About",   about_path, :class => "ui-nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>